h1{
    border-left: 6px solid var(--highlight);
    padding-left: 0.3em;
    border-bottom: none;
}
img{
    max-width: 100%;
    border: 1px solid var(--main);
    outline: 1px solid var(--main);
    outline-offset: -0.3em;
    padding: 0.6em;
    display: block;
    margin: 0 auto;
}

legend{
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.postTitle{
    padding-bottom: 0;
    margin-bottom: 0;
}

.author{
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

.postData{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-bottom: 10px;
    color: var(--gray);
}

.tags{
    color: var(--gray);
    display: flex;
    gap: 10px;
    flex-wrap: Wrap;
    justify-content: flex-end;
}

.tags > a{
    color: var(--gray);
    text-transform: capitalize;
}

.mainPostDiv{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.postDiv{
    width: 100%;
}
@media screen and (max-width: 750px){
    .mainPostDiv{
        flex-direction: column-reverse;
    }
    img{
        max-width: 80%;
    }
    .postDiv{
    margin: 10px 0 0 0;
    padding: 0;
    padding-bottom: 3em;
    }
}

@media screen and (max-width: 500px){
    .mainPostDiv{
        width: 95%;
    }
}
