aside{
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    background-color: var(--background);
    width: 100%;
    position: fixed;
    bottom: 0;
    transition: 0.2s ease;
}
aside > nav{
    display: flex;
    width: 100%;
}
aside > nav > ul{
    list-style:none;
    padding: 0 10%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
aside > nav > ul > li {
   list-style: none; 
}
.navText{
    font-weight: 600;
}

@media screen and (max-width: 750px){
    #showHide{
        display: none;
    }
    aside{
        max-width: 100%;
        margin: 0 auto;
    }
    aside > nav {
        width: 100%;
    }
}