---
import BaseLayout from "../layouts/BaseLayout.astro";
const page = Astro.url.pathname
---

<BaseLayout pageTitle="Not found">
    {page.includes('/search') && (
        <p>Nenhum resultado encontrado para "<i>{page.split('/')[2]}</i>".</p>
        <hr />
        <h3><a href="/">Voltar ao início</a></h3>
    )}
    {page.includes('/tags') && (
    <p>Nenhum post marcado com "<i>{page.split('/')[2]}</i>" foi encontrado.</p>
    <hr />
    <h3><a href="/">Voltar ao início</a></h3>
)}
    {page.includes('/search') === false && page.includes('/tags') === false ? 
    <h2>Pagina não encontrada</h2>
    <br />
    <h3><a href="/">Voltar ao início</a></h3>
    : <span></span>}
    
</BaseLayout>
