---
import BaseLayout from "../layouts/BaseLayout.astro";
const page = Astro.url.pathname

console.log(page)
---

<BaseLayout pageTitle="Not found">
    {page.includes('/search') && (
        <p>No results with "<i>{page.split('/')[2]}</i>" has found.</p>
        <hr />
        <h3><a href="/">Return to home</a></h3>
    )}
    {page.includes('/tags') && (
    <p>No posts tagged with "<i>{page.split('/')[2]}</i>" has found.</p>
    <hr />
    <h3><a href="/">Return to home</a></h3>
)}
    {page.includes('/search') === false && page.includes('/tags') === false ? 
    <h2>Page not found</h2>
    <br />
    <h3><a href="/">Return to home</a></h3>
    : <span></span>}
    
</BaseLayout>
