---
import Header from '../components/Header.astro'
import Nav from '../components/Navbar.astro'
---
  <Header Title="About" />
  <Nav selected="about" />
	<body>
		<h3>About</h3>
    <p>This is an about page.</p>
	</body>
</html>
