---
import Header from '../components/Header.astro'
import Nav from '../components/Navbar.astro'
---

<Header Title="Blog" />
<Nav selected="blog" />
	<body>
		<h3>Blog</h3>
    <p>This is an blog page.</p>
    <br />
    <a href="/posts/post1">Post 1</a>
	</body>
</html>
