---
import BaseLayout from '../layouts/BaseLayout.astro'
import Sidebar from '../components/Sidebar.astro'
import PostList from '../components/PostList.astro'
const unfilteredposts = await Astro.glob('../pages/posts/*.md')
const posts = unfilteredposts.sort((a, b) => {return new Date(a.frontmatter.pubDate) - new Date(b.frontmatter.pubDate)})
---

<BaseLayout pageTitle="Blog">
    <p>This is an blog page.</p>
    <p style="text-align: right;">
        <select>
            <option selected value="a">Sort by: Most recent</option>
            <option value="b">Sort by: Older</option>
        </select>
    </p>
    <br />
    <div class="blogPage">
        <PostList posts={posts}/>
        <Sidebar posts={posts}/>
    </div>
</BaseLayout>

<style>
    .blogPage{
 display: flex;
 gap: 20px;
 width: 100%;
}
select{
    font-size: 1.3rem;
    font-family: 'Times New Roman', serif;
    background-color: var(--background);
    color: var(--main);
    margin-top: 10px;
    border: none;
    outline: none;
}
@media screen and (max-width: 610px){
    .blogPage{
    flex-direction: column;
  }
}
</style>