---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout pageTitle="Home">
    <h1 class="mainTitle">Plainspoken</h1>
    <p>This is an homepage.</p>
</BaseLayout>

<style>
.mainTitle{
  font-size: 3rem;
  text-align: center;
  border-top: 1px solid var(--main);
  border-bottom: 1px solid var(--main);
  padding: 0.2em;
  text-transform: uppercase;
}
</style>