---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
import Posts from '../components/Posts.jsx'

const unfilteredposts = await getCollection("posts")
const sortedposts = unfilteredposts.sort((a, b) => {return new Date(b.data.pubDate) - new Date(a.data.pubDate)})
let posts = [];
for(let i = 0; i < 6; i++){
  if(sortedposts[i] === undefined || sortedposts[i] === undefined) break; else posts.push(sortedposts[i])
}
---

<BaseLayout pageTitle="Home">
    <h1 class="mainTitle"><span>Plainspoken</span></h1>
    <h2>Latest posts: </h2>
    <br />
    <Posts client:load posts={posts}/>
</BaseLayout>

<style>
.mainTitle{
  font-size: 3rem;
  text-align: center;
  border-top: 1px solid var(--main);
  border-bottom: 1px solid var(--main);
  padding: 0.2em;
  text-transform: uppercase;
}
.mainTitle > span{
  box-shadow: inset 0 -0.65em 0 0em var(--highlight), 0 0.25em 1em 0em var(--opacHigh);
}

@media screen and (max-width: 400px) {
  .mainTitle{
    font-size: 2rem;
  }
}
@media screen and (max-width: 289px) {
  .mainTitle{
    font-size: 1.7rem;
  }
}
</style>