---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
import Posts from '../components/Posts.jsx'
import '../components/Styles/Index.css'

const unfilteredposts = await getCollection("posts")
const sortedposts = unfilteredposts.sort((a, b) => {return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()})
let posts = [];
for(let i = 0; i < 6; i++){
  if(sortedposts[i] === undefined || sortedposts[i] === undefined) break; else posts.push(sortedposts[i])
}
---

<BaseLayout pageTitle="Home">
    <h1 class="mainTitle"><span>Plainspoken</span></h1>
    <h2>Latest posts: </h2>
    <br />
    <Posts client:load posts={posts}/>
</BaseLayout>