@keyframes hideAside {
    0%{
        max-width: 20%;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        max-width: 0;
        display: none;
        position: absolute;
    }
}
@keyframes showAside {
    0%{
        opacity: 0;
        max-width: 0;
        display: none;
    }
    100%{
        max-width: 20%;
        opacity: 1;
        display: initial;
        position: initial;
    }
}
@keyframes showArrow{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes hideArrow{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}