.mainTitle{
    font-size: 6rem;
    text-align: center;
    font-weight: 800;
    padding: 0.2em;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
  }
  
  @media screen and (max-width: 800px){
    .mainTitle{
      padding: 0;
    }
  }

  @media screen and (max-width: 600px) {
    .mainTitle{
      font-size: 5rem;
    }
  }
  @media screen and (max-width: 590px){
    .mainTitle{
      font-size: 4rem;
    }
  }
  @media screen and (max-width: 455px) {
    .mainTitle{
      font-size: 3rem;
    }
  }

  @media screen and (max-width: 285px) {
    .mainTitle{
      font-size: 2rem;
    }
  }