.mainTitle{
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    padding: 0.2em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 400px) {
    .mainTitle{
      font-size: 2rem;
    }
  }
  @media screen and (max-width: 289px) {
    .mainTitle{
      font-size: 1.7rem;
    }
  }