h1{
    border-left: 6px solid var(--highlight);
    padding-left: 0.3em;
    border-bottom: none;
}
img{
    max-width: 100%;
}
.mainPostDiv{
    display: flex;
}
.postDiv{
    width: 100%;
}
@media screen and (max-width: 750px){
    .mainPostDiv{
        flex-direction: column-reverse;
    }
    img{
        max-width: 80%;
    }
    .postDiv{
    margin: 10px 0 0 0;
    padding: 0;
}
}