.postList{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
.fixedPosts{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
  @media screen and (max-width:750px){
      .postList{
          width: 100%;
          grid-template-columns: 1fr;
      }
      .postCard{
        grid-column: 1 / 3;
      }
  }