.postList{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
.true{
    grid-column: 1 / 3;
}
  
  @media screen and (max-width:610px){
      .postList{
          width: auto;
          grid-template-columns: 1fr;
      }
  }