---
  import {Icon} from 'astro-icon'
  import Search from '../Search/Search.astro';
  import Options from '../Options/Options.astro';
  import './Navbar.css';
  let {selected} = Astro.props;
---

<nav>
<div>
<a onclick="const navbar = document.querySelector('.navButtons');
if(navbar.classList.contains('active')){
  navbar.classList.remove('active');
} else {
  navbar.classList.add('active')
};
"><Icon NavMobile class="navMenu" width="27" height="27" name="mdi:menu"/></a>
<div class="navButtons">
<a class={selected === "Home" ? "selected" : ""} href="/" data-astro-prefetch><li>Home</li></a>
<a class={selected === "Blog" ? "selected" : ""} href="/blog" data-astro-prefetch><li>Blog</li></a>
<Search />
</div>
</div>
<div class="OptionsWrapper">
<Options />
</div>
</nav>