:root {
  --font-fallback: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --font-body: system-ui, var(--font-fallback);
}

@font-face {
  font-family: 'XCharter';
  src: url('/fonts/XCharter-Roman.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'XCharter';
  src: url('/fonts/XCharter-Italic.otf') format('otf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'XCharter';
  src: url('/fonts/XCharter-Bold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'XCharter';
  src: url('/fonts/XCharter-BoldItalic.otf') format('otf');
  font-weight: 600;
  font-style: Italic;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
}

body {
  --main: rgb(0, 0, 0);
  --background: #F2F2F2;
  --highlight: #999999;
  --gray: #6f6f6f;
  background-color: var(--background);
  font-size: 1.2rem;
  color: var(--main);
  font-family: 'Playfair Display', serif;
}

body.dark{
  --highlight: #999999;
  --main: #F2F2F2;
  --gray: #9e9e9e;
  --background: rgb(0, 0, 0);
}

.mainDiv, .postDiv, ol, ul{
  padding: 0.5em 0.5em 0 0.5em;
}

.mainDiv, .postDiv > p, h2, h3, h4, h5{
  padding-top: 0.5em;
}

mark{
  background-color: var(--highlight);
  color: var(--main);
}

code{
  font-family: var(--font-body);
  font-style: italic;
  background-color: rgba(146, 145, 145);
  color: var(--main);
}

a{
  text-decoration: underline;
  color: var(--main);
  text-decoration-color: var(--highlight);
  transition: 0.2s;
}

a:hover{
  opacity: 0.8;
}

h1{
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

h2{
  border-left: 4px solid var(--highlight);
  padding-left: 0.3em;
  padding-top: 0;
  margin-top: 10px;
}

input[type="text"]{
  color: var(--main); padding: 0.5em 1em; border-radius: 10px; background-color: transparent; border: 2px solid var(--main);
}