---
const {url, title, description, date, tags} = Astro.props
---
<div class="postCard">
    <h3><a href={url}>{title}</a></h3>
    <div style="font-size: 0.9rem" class="tags"><strong>Tags: </strong> {tags.map((tag) => <a href={"/tags/" + tag} style="text-transform: capitalize;">{tag}</a>)}</div>
    <p>{description}</p>
    <p>{date.slice(8,10) + '/' + date.slice(5,7) + '/' + date.slice(0,4)}</p>
</div>

<style>
    .postCard{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 1em;
        border-top: 1px solid var(--main);
    }
    .tags{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        text-align: left;
    }
</style>