---
const {url, title, description, date} = Astro.props
---
<div class="postCard">
    <h3><a href={url}>{title}</a></h3>
    <p style="font-size: 0.9rem">{description}</p>
    <p style="font-size: 0.9rem">{date.slice(0,10)}</p>
</div>

<style>
    .postCard{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 1em;
        border-top: 1px solid var(--main);
    }
</style>