---
import { ViewTransitions } from 'astro:transitions';
import '../style/global.css'
const {Title} = Astro.props
import '@fontsource/libre-bodoni';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Title}</title>
		<ViewTransitions />
	</head>
	<script>
		document.addEventListener('astro:page-load', () => {
			localStorage.getItem('DarkLight') ? 
			document.body.classList.add(localStorage.getItem('DarkLight')) : 
			sessionStorage.setItem('DarkLight', 'light')
			localStorage.getItem('Font') === 'serif' ?
			document.body.style.fontFamily = '\'Libre Bodoni\', serif' :
			localStorage.setItem('Font', 'sans-serif')
		})
		document.addEventListener('astro:after-swap', () => {
			localStorage.getItem('DarkLight') ? 
			document.querySelector('body').classList.add(localStorage.getItem('DarkLight')) : 
			localStorage.setItem('DarkLight', 'light')
			localStorage.getItem('Font') === 'serif' ?
			document.querySelector('body').style.fontFamily = 'initial' :
			localStorage.setItem('Font', 'sans-serif')
		})
	</script>
	<script src="./Scripts/Font.js"></script>
	<script src="./Scripts/DarkLight.js"></script>