---
import { ViewTransitions } from 'astro:transitions';
import '../style/global.css'
const {Title} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Title}</title>
		<ViewTransitions />
	</head>
	<script>
		document.addEventListener('astro:after-swap', () => {
			sessionStorage.getItem('DarkLight') ? 
			document.querySelector('body').classList.add(sessionStorage.getItem('DarkLight')) : 
			sessionStorage.setItem('DarkLight', 'light')
			sessionStorage.getItem('Font') === 'sans-serif' ?
			document.querySelector('body').style.fontFamily = 'var(--font-body)' :
			sessionStorage.setItem('Font', 'serif')
		})
	</script>