---
  import '../style/global.css'
  import {Icon} from 'astro-icon'
  const {selected} = Astro.props;
---

<nav>
<a class={selected == "Home" ? "selected" : ""} href="/"><li>Home</li></a>
<a class={selected == "About" ? "selected" : ""} href="/about"><li>About</li></a>
<a class={selected == "Blog" ? "selected" : ""} href="/blog"><li>Blog</li></a>
<Icon DarkLight width=27 name="mdi:theme-light-dark"/>
<Icon Font style="border-radius: 20%;" width=26 name="fa:font" />
</div>
</nav>

<script src="./Scripts/Font.js"></script>
<script src="./Scripts/DarkLight.js"></script>
<style >
  [astro-icon]{
    color: var(--main);
    border-radius: 50%;
    padding: 0.2em;
    transition: 0.3s;
    cursor: pointer;
  }
  [astro-icon]:hover{
    color: var(--background);
    background-color: var(--main);
  }
  nav{
    list-style: none;
    display: flex;
    gap: 1em;
    padding: 1em
  }
  nav > a{
    text-decoration: none;
    color: rgb(150,150,150);
    font-weight: 500;
    transition: 0.4s;
  }
  nav > a:hover{
    color: var(--main);
    opacity: 1;
  }

  nav > a.selected{
    color: var(--main);
    padding-bottom: 0.2em;
    border-bottom: 1px solid var(--highlight);
  }
</style>
