---
  import {Icon} from 'astro-icon'
  import Options from './Options.astro'
  const {selected} = Astro.props;
---

<nav>
<div>
<a onclick="
const navbtn = document.querySelector('[NavMobile]');

const navbar = document.querySelector('.navButtons');
if(navbar.classList.contains('active')){
  navbtn.setAttribute('name', 'mdi:close'); 
  navbar.classList.remove('active');
} else {
  navbar.classList.add('active')
};
"><Icon NavMobile class="navMenu" width="27" height="27" name="mdi:menu"/></a>
<div class="navButtons" style="display: flex; gap: 15px;">
<a class={selected === "Home" ? "selected" : ""} href="/"><li>Home</li></a>
<a class={selected === "About" ? "selected" : ""} href="/about"><li>About</li></a>
<a class={selected === "Blog" ? "selected" : ""} href="/blog"><li>Blog</li></a>
</div>
</div>
<div style="display: flex; gap: 10px; align-itens: flex-end; width: 100%;">
<Options />
</div>
</nav>
<script>
function nav(){
  
}

</script>
<style>
  [astro-icon]{
    color: var(--main);
    transition: 0.3s;
    cursor: pointer;
  }
  nav{
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1em;
    padding: 1em;
  }
  nav > div > div > a{
    text-decoration: none;
    color: rgb(150,150,150);
    font-weight: 500;
    transition: 0.4s;
  }
  nav > div > div > a:hover{
    color: var(--main);
    opacity: 1;
  }

  nav > div > div > a.selected{
    color: var(--main);
    text-decoration: underline;
    text-decoration-color: var(--highlight);
  }
  .navMenu{
    display: none;
  }
  @media screen and (max-width: 600px){
    .navMenu{
      display: initial;
      position: block;
      z-index: 1;
    }
    .navButtons{
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: -100%;
      padding: 1em 4em;
      height: 100%;
      background-color: var(--background);
      transition: 0.3s;
    }
    .navButtons.active{
      left: 0;
    }
  }
</style>
