---
  import '../style/global.css'
  const {selected} = Astro.props;
---

<nav>
<a class={selected == "Home" ? "selected" : ""} href="/"><li>Home</li></a>
<a class={selected == "About" ? "selected" : ""} href="/about"><li>About</li></a>
<a class={selected == "Blog" ? "selected" : ""} href="/blog"><li>Blog</li></a>
</nav>

<style>
  nav{
    list-style: none;
    display: flex;
    gap: 1em;
    padding: 1em
  }
  nav > a{
    text-decoration: none;
    color: rgb(150,150,150);
    font-weight: 500;
    transition: 0.4s;
  }
  nav > a:hover{
    color: var(--main);
    opacity: 1;
  }

  nav > a.selected{
    color: var(--main);
  }
</style>
