---
import {Icon} from 'astro-icon'
import './Styles/Search.css'
---

<div style="display: flex; gap: 10px">
    <input 
    style="padding: 0.5em 1em; border-radius: 10px; background-color: transparent; border: 2px solid var(--main);"
    type="text" name="search" id="search" />
    <a style="cursor: pointer;" onclick="window.location.href = '/search/' + document.querySelector('#search').value">Search</a>
</div>