---
  import './Styles/TagSidebar.css'
    
  const {posts} = Astro.props
  const Posts = posts.filter((post) => post.data.portuguese !== '')
  
  const tags = []
  Posts.map((post) => post.data.tags.map((tag) => tags.push(tag)))
  const setTags = tags.filter((t,i) => tags.indexOf(t) === i);
---
<div class="sidebar">
    <h3>Tags:</h3>
    <div class="Tags">{setTags.map((tag) => <a style="text-transform: capitalize;" href={"/tags/" + tag} data-astro-prefetch>{tag}</a>)}</div>
</div>