---
import './Search.css'
---

<div class="search">
    <input type="text" name="search" id="search" placeholder="Buscar post" />
    <a style="cursor: pointer;" onclick="window.location.href = '/search/' + document.querySelector('#search').value">Buscar</a>
</div>