---
import Header from '../components/Header.astro'
import Nav from '../components/Navbar.astro'
const {pageTitle} = Astro.props
---

<Header Title={pageTitle} />
<Nav selected={pageTitle}/>
	<body>
		<h1>{pageTitle}</h1>
		<slot />
	</body>
</html>
