---
import Header from '../components/Header.astro'
import Nav from '../components/Navbar.astro'
const {pageTitle} = Astro.props
---
<html>
<Header Title={pageTitle} />
<Nav selected={pageTitle.split(' ')[0]}/>
	<body>
		<div class="mainDiv">
			<slot />
		</div>
	</body>
	<script>
		sessionStorage.getItem('DarkLight') ? 
		document.querySelector('body').classList.add(sessionStorage.getItem('DarkLight')) : 
		sessionStorage.setItem('DarkLight', 'light')
		sessionStorage.getItem('Font') === 'sans-serif' ?
		document.querySelector('body').style.fontFamily = 'var(--font-body)' :
		sessionStorage.setItem('Font', 'serif')
	</script>
</html>