---
import Header from '../components/Header/Header.astro';
import Nav from '../components/Navbar/Navbar.astro';
const {pageTitle} = Astro.props
---
<html>
<Header Title={pageTitle} />
<Nav selected={pageTitle.split(' ')[0]}/>
	<body>
		<div class="mainDiv">
			<slot />
		</div>
	</body>
	<script is:inline>
		document.addEventListener('astro:page-load', () => {
			localStorage.getItem('DarkLight') ? 
			document.body.classList.add(localStorage.getItem('DarkLight')) : 
			sessionStorage.setItem('DarkLight', 'light')
			localStorage.getItem('Font') === 'sans-serif' ?
			document.body.style.fontFamily = 'var(--font-body)' :
			localStorage.setItem('Font', 'serif')
		})
		document.addEventListener('astro:after-swap', () => {
			localStorage.getItem('DarkLight') ? 
			document.body.classList.add(localStorage.getItem("DarkLight")) : 
			localStorage.setItem('DarkLight', 'light')
			localStorage.getItem('Font') === 'sans-serif' ?
			document.body.style.fontFamily = 'var(--font-body)' :
			localStorage.setItem('Font', 'serif')
		})
	</script>
	<script src="../components/Scripts/Font.js"></script>
	<script src="../components/Scripts/DarkLight.js"></script>
</html>