---
import Header from '../components/Header.astro'
import Nav from '../components/Navbar.astro'
const {pageTitle} = Astro.props
---
<html>
<Header Title={pageTitle} />
<Nav selected={pageTitle.split(' ')[0]}/>
	<body>
		<div class="mainDiv">
			<slot />
		</div>
	</body>
	<script>
		document.addEventListener('astro:page-load', () => {
			localStorage.getItem('DarkLight') ? 
			document.body.classList.add(localStorage.getItem('DarkLight')) : 
			sessionStorage.setItem('DarkLight', 'light')
			localStorage.getItem('Font') === 'serif' ?
			document.body.style.fontFamily = '\'Libre Bodoni\', serif' :
			localStorage.setItem('Font', 'sans-serif')
		})
		document.addEventListener('astro:after-swap', () => {
			localStorage.getItem('DarkLight') ? 
			document.body.classList.add(localStorage.getItem("DarkLight")) : 
			localStorage.setItem('DarkLight', 'light')
			localStorage.getItem('Font') === 'serif' ?
			document.body.style.fontFamily = 'initial' :
			localStorage.setItem('Font', 'sans-serif')
		})
	</script>
	<script src="../components/Scripts/Font.js"></script>
	<script src="../components/Scripts/DarkLight.js"></script>
</html>